* {
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

:root {
    --color-contrast: #40C9A2;
    --color-complimentary: #cddfda;
    --color-theme: #E5F9E0;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color-theme);
}

.btn {
    border: none;
    outline: none;
    border-radius: 10px;
    padding: .5rem;
    background-color: var(--color-theme);
    color: var(--color-contrast);
}

input {
    outline: none;
    border: none;
    padding: .5rem;
    border-radius: 10px;
}

.todo__container {
    display: flex;
    flex-direction: column;
    gap: .2rem;
    padding: 0 1rem;
}

.todo {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 10px;
}

todo-component:nth-child(even) {
    opacity: 0;
}

.todo__buttons {
    display: flex;
    align-items: center;
    gap: .5rem;
}